body {
    font-family: Arial;
    text-align: center;
}

.form {
    margin: 20px;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 15px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    margin: auto;
    width: 60%;
    margin-top: 20px;
}

h1, h2 {
    color: darkblue;
}